<ion-item>
  <ion-label>
    <h2>{{ taskItem()?.title }}</h2>
    <p>{{ taskItem()?.description }}</p>

    @for (category of taskItem()?.category; track $index) {
    @switch (category) {
    @case (1) {
    <ion-chip color="primary">
      <ion-label>Trabajo</ion-label>
    </ion-chip>
    }
    @case (2) {
    <ion-chip color="secondary">
      <ion-label>Escuela</ion-label>
    </ion-chip>
    }
    @case (3) {
    <ion-chip color="tertiary">
      <ion-label>Hogar</ion-label>
    </ion-chip>
    }
    @default {
    <ion-chip color="primary">
      <ion-label>Trabajo</ion-label>
    </ion-chip>
    }
    }

    }
  </ion-label>
  <ion-item>
    <ion-buttons slot="end">
      <ion-button slot="end" fill="clear" size="large" color="primary" class="ion-margin-start">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" size="large" color="danger">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>

      <ion-checkbox slot="end" class="ion-margin-start" color="primary" [checked]="checked()"
        (ionChange)="onIndividualChange($event)"></ion-checkbox>
    </ion-buttons>
  </ion-item>

</ion-item>
