<ion-item>
  <ion-checkbox
    slot="start"
    [checked]="taskList().done"
    (ionChange)="onToggleDone($event)">
  </ion-checkbox>

  <ion-label>
    <h2 [class.completed]="taskList().done">{{ taskList().title }}</h2>
    <p *ngIf="taskList().description">{{ taskList().description }}</p>

    <div class="categories-container">
      <ion-chip
        *ngFor="let categoryId of taskList().categories"
        size="small"
        [color]="getCategoryColor(categoryId)">
        {{ getCategoryName(categoryId) }}
      </ion-chip>
    </div>
  </ion-label>
</ion-item>
